<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><f:render section="Title" /></title>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
		<link rel="stylesheet" href="<f:uri.resource path='Css/h5bp.normalize.css' />" />
		<link rel="stylesheet" href="<f:uri.resource path='Css/h5bp.defaults.css' />" />

		<link rel="stylesheet" href="<f:uri.resource path='Css/grid.css' />" />
		<link rel="stylesheet" href="<f:uri.resource path='Css/styles.css' />" />

		<link rel="stylesheet" href="<f:uri.resource path='Css/h5bp.helper.css' />" />
		<f:base />
	</head>
	<body>
		<div class="head container infomargin clearfix">
			<div class="grid_3"><img src="<f:uri.resource path='Img/logo_typo3_bk.png' />" alt="TYPO3" width="100%" height="auto" /></div>
			<div class="grid_9 omega">
				<h3>Do not go where the path may lead.<br />Go where there is no path and leave a trail instead.</h3>
			</div>
		</div>
		<div class="infobox infomargin container clearfix">
			<div class="grid_1">&nbsp;</div>
			<div class="grid_2 infomargin">
				<img src="<f:uri.resource path='Img/img_andreas-otto.png' />" alt="Andreas Otto" width="100%" height="auto" /></div>
			<div class="grid_4 infomargin">
				<h2>Andreas Otto</h2>
				<h3>1973 - 2013</h3>
				<p>Our sincerest condolences go out to all his family members and friends. He and his community work will stay in our hearts forever.</p>
			</div>
			<div class="grid_1">&nbsp;</div>
			<div class="grid_4 omega donationbox">
				<div class="marginbox">
					<h4>Donate to Andreas' family</h4>
					<p>Show your love and help with a little donation for the funeral and other unexpected costs.</p>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_xclick" />
						<input type="hidden" name="business" value="andreas-otto-memorial@typo3.org" />
						<input type="hidden" name="item_name" value="Condolence Donation Andreas Otto" />
						<input type="hidden" name="item_number" value="0003" />
						<input type="hidden" name="lc" value="EN" />
						<input type="image" src="<f:uri.resource path='Img/ico_paypal.png' />" border="0" width="100%" height="auto" name="submit" alt="Donate to Andreas' Family" />
						<img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1" />
						<input type="hidden" name="no_shipping" value="2" />
						<input type="hidden" name="no_note" value="1" />
						<input type="hidden" name="currency_code" value="EUR" />
						<input type="hidden" name="tax" value="0" />
						<input type="hidden" name="bn" value="T3A" />
					</form>
				</div>
			</div>
		</div>
		<div class="condolences container">
			<f:flashMessages class="flashmessages" />
			<h1><f:render section="Title" /></h1>
			<f:render section="Content" />
		</div>
		<div class="container"><a href="http://typo3.org/legal-info/" target="_blank" title="Legal Information can be found on typo3.org">Legal Info</div>
	</body>
</html>